{% extends 'base.html.twig' %}

{% block title %}Hotel casa real norte{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container-fluid" style="background: #fff; width: 100%;  min-height: 100vh;" data-turbo="true" {{ stimulus_controller('sistema--app',
        {
            'rutaRegistrarVenta' : path('app_registrarVenta', {'detalle' : 'var1', 'producto' : 'var2', 'cantidad' : 'var3', 'valor' : 'var4',}),
            'rutaCambiaEstadoServicio' : path('app_cambiaEstadoServicio', {'id' : 'var1', 'estado' : 'var2' }),
            'rutaUpdateCantProducto' : path('app_updateCantProducto', {'id' : 'var1', 'accion' : 'var2', 'cantidad' : 'var3' }),
            'rutaObtenerDatosClienteReserva' : path('app_obtenerDatosClienteReserva', {'id' : 'var1' }),
            'rutaEliminarTiposServ' : path('app_eliminarTiposServ', {'id' : 'var1' }),
            'rutaEliminarCompania' : path('app_eliminarCompania', {'id' : 'var1' }),
            'rutaEliminarServicio' : path('app_eliminarServicio', {'id' : 'var1' }),
            'rutaEliminarClientes' : path('app_eliminarClientes', {'id' : 'var1' }),
            'rutaEliminarTipodoc' : path('app_eliminarTipodoc', {'id' : 'var1' }),
            'rutaEliminarReserva' : path('app_eliminarReserva', {'id' : 'var1' }),
            'rutaEliminarCheckin' : path('app_eliminarCheckin', {'id' : 'var1'}),
            'rutaEliminarHab' : path('app_eliminarHabitacion', {'id' : 'var1' }),
            'rutaObtenerServicio': path('app_obtenerServicio', {'id' : 'var1'}),
            'rutaObtenerProducto': path('app_obtenerProducto', {'id' : 'var1'}),
            'rutaObtenerCheckin' : path('app_obtenerCheckin', {'id' : 'var1'}),
            'rutaGenerarFactura' : path('app_generarFactura', {'id' : 'var1'}),
            'rutaAgregarProductoCheckin' : path('app_agregarProductoCheckin'),
            'rutaAgregarServicioCheckin' : path('app_agregarServicioCheckin'),
            'rutaEliminarPiso' : path('app_eliminarPiso', {'id' : 'var1' }),
            'rutaCrearCheckin' : path('app_crearCheckin', {'id' : 'var1' }),
            'rutaListaServ' : path('app_listaServ', {'filtro' : 'var1' }),
            'rutaCargarProductosPlano' : path('app_cargarProductosPlano'),
            'rutaCheckout' : path('app_checkout', {'id' : 'var1'}),
            'rutaGuardarTiposServ' : path('app_guardarTiposServ'),
            'rutaGuardarProducto' : path('app_guardarProducto'),
            'rutaNuevaHabitacion' : path('app_nuevaHabitacion'),
            'rutaGuardarClientes' : path('app_guardarClientes'),
            'rutaGuardarServicio' : path('app_guardarServicio'),
            'rutaGuardarReserva' : path('app_guardarReserva'),
            'rutaGuardarTipodoc' : path('app_guardarTipodoc'),
            'rutaGuardarEntrada' : path('app_guardarEntrada'),
            'rutaNuevaCompania' : path('app_nuevaCompania'),
            'rutaHabitaciones' : path('app_habitaciones'),
            'rutaNuevaReserva' : path('app_nuevaReserva'),
            'rutaCerrarTurno' : path('app_cerrarTurno'),
            'rutaAbrirTurno' : path('app_abrirTurno'),
            'rutaInventario' : path('app_inventario'),
            'rutaCompanias' : path('app_companias'),
            'rutaNuevoPiso' : path('app_nuevoPiso'),
            'rutaDashboard' : path('app_dashboard'),
            'rutaTiposServ' : path('app_tiposServ'),
            'rutaProductos' : path('app_productos'),
            'rutaReservas' : path('app_reservas'),
            'rutaClientes' : path('app_clientes'),
            'rutaEntradas' : path('app_entradas'),
            'rutaCheckin' : path('app_checkin'),
            'rutaInicio' : path('app_inicio'),
            'rutaDocs' : path('app_tipodoc'),
            'rutaPisos' : path('app_pisos'),
            
            



        }

    )}}>
        {% if pantalla == 0 %}        
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-dashboard" data-sistema--app-target="frameDashboard" src="{{ path('app_dashboard') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando dashboard</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 1 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-reservas" data-sistema--app-target="frameReservas" src="{{ path('app_reservas') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando checki-in</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 2 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-clientes" data-sistema--app-target="frameClientes" src="{{ path('app_clientes') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando lista de clientes</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 3 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-pisos" data-sistema--app-target="framePisos" src="{{ path('app_pisos') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando lista de pisos</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 4 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-habitaciones" data-sistema--app-target="frameHabitaciones" src="{{ path('app_habitaciones') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando lista de habitaciones</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 5 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-Companias" data-sistema--app-target="frameCompanias" src="{{ path('app_companias') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando lista Compañias</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 6 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-tipoDoc" data-sistema--app-target="frameTipoDoc" src="{{ path('app_tipodoc') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando lista de tipos de documentos</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 7 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-servicios" data-sistema--app-target="frameServicios" src="{{ path('app_servicios') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando nueva reserva</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 8 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-stock" data-sistema--app-target="frameStock" src="{{ path('app_stock') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando productos</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 9 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-entradas" data-sistema--app-target="frameEntradas" src="{{ path('app_entradas') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando entradas</p>
                </turbo-frame>
            </div>
        {% elseif pantalla == 10 %}
            <div class="row w-100 gx-4" style="padding-top: 75px;">
                <turbo-frame id="frame-turnos" data-sistema--app-target="frameTurnos" src="{{ path('app_turnos') }}" >
                    <p align="center"><i class="fas fa-cog fa-spin mt-5"></i> Cargando turnos</p>
                </turbo-frame>
            </div>
        {% endif %}
        

    </div>
{% endblock %}
