<turbo-frame id="frame-habitaciones">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body">
                    <h5 class="card-title mb-3">Listado de Habitaciones</h5>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Filtrar Habitaciones..." id="filtroHabitaciones">
                    </div>
                    <div class="table-responsive position-relative" style="overflow-x:auto; max-height: 50vh; overflow-y:auto;">
                        <table class="table table-striped table-hover align-middle mb-0">
                            <thead class="table-dark" style="position: sticky; top: 0; z-index: 2;">
                                <tr>
                                    <th style="background: #212529;">Piso</th>
                                    <th style="background: #212529;">Nombre</th>
                                    <th style="background: #212529;">Numero de camas</th>
                                    <th style="background: #212529;">Aire Acondicionado</th>
                                    <th style="background: #212529;">Ventilador</th>
                                    <th style="background: #212529;">tipo</th>
                                    <th style="background: #212529;">Estado</th>
                                    <th colspan=2 style="background: #212529;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in rooms %}
                                    <tr>
                                        <td>{{ room.floor.name }}</td>
                                        <td>{{ room.name }}</td>
                                        <td>{{ room.bedNumber }}</td>
                                        <td>{{ room.airCond ? 'Sí' : 'No' }}</td>
                                        <td>{{ room.fan ? 'Sí' : 'No' }}</td>
                                        <td>   
                                          {% if room.typeroom == 1 %}
                                            Habitación sencilla
                                          {% elseif room.typeroom == 2 %}
                                            Habitación doble
                                          {% elseif room.typeroom == 3 %}
                                            Habitación sencilla con aire acondicionado
                                          {% elseif room.typeroom == 4 %}
                                            Habitación doble con aire acondicionado
                                          {% elseif room.typeroom == 5 %}
                                            Habitación sencilla ventilador
                                          {% elseif room.typeroom == 6 %}
                                            Habitación doble ventilador
                                          {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if room.status == 1 %}
                                                <span class="badge bg-success">Disponible</span>
                                            {% elseif room.status == 2 %}
                                                <span class="badge bg-danger">Ocupada</span>
                                            {% elseif room.status == 3 %}
                                                <span class="badge bg-warning">Aseo</span>
                                            {% elseif room.status == 4 %}
                                                <span class="badge bg-secondary">Mantenimiento</span>
                                            {% endif %}
                                        </td>
                                        {% if room.status == 3 or room.status == 4 %}
                                          <td colspan="4" style="text-align:center; width: 20px;">
                                            <i class="fa-solid fa-lock-open text-success" data-action="click->sistema--app#cambiarEstadoHab" data-id = {{ room.id }} data-accion = "1"></i>
                                          </td>
                                        {% else %}
                                          <td style="text-align:center; width: 75px;">
                                            {% if room.status == 1 %}
                                              {% if room.fan is null %}{% set fan = 0 %}{% else %}{% set fan = 0 %}{% endif %}
                                              {% if room.airCond is null %}{% set airCond = 0 %}{% else %}{% set airCond = 0 %}{% endif %}

                                              <i class="far fa-window-maximize text-primary" style="cursor:pointer" data-action="click->sistema--app#abrirModalNuevaHab" data-accion = '2'  data-id = {{ room.id }} data-name = "{{ room.name}}" data-piso = {{ room.floor.id }} data-bedmunber = {{ room.bedNumber }} data-aircond = {{ airCond }} data-fan = {{ fan }} data-tipo= {{ room.typeroom }} ></i>
                                              <i class="fa-solid fa-screwdriver-wrench text-danger" style="margin-left:15px" data-action="click->sistema--app#cambiarEstadoHab" data-id = {{ room.id }} data-accion = "4"></i>
                                            {% else %}
                                              <i class="far fa-window-maximize text-secondary" style="cursor:not-allowed"></i>
                                            {% endif %}
                                          </td>
                                          <td style="text-align:center; width: 20px;">
                                            {% if room.status == 1 %}
                                              <i class="fas fa-trash-alt text-danger" style="cursor:pointer" data-action="click->sistema--app#eliminarHabitacion" data-id = {{ room.id }}></i>
                                            {% else %}
                                              <i class="fas fa-trash-alt text-secondary" style="cursor:not-allowed"></i>
                                            {% endif %}
                                          </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8" class="text-center">No hay habitaciones registradas.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-space-between" style="margin:20px">
                    <button type="button" class="btn btn-primary" style="margin-right:10px" data-action="sistema--app#abrirModalNuevaHab" data-accion = '1' data-id = '0'>Nuevo</button>
                    <a href="{{ path('app_inicio') }}" class="btn btn-danger">Regresar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para crear habitación -->
    <div class="modal fade" data-sistema--app-target="modalNuevaHabitacion" tabindex="-1" aria-labelledby="modalNuevaHabitacionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalNuevaHabitacionLabel"><span data-sistema--app-target="labelModalHab"></span></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form data-sistema--app-target="formNuevaHab">
              <input type="hidden" name="id" data-sistema--app-target="idHabitacion" value="0">
              <div class="mb-3">
                <label for="pisoHabitacion" class="form-label fw-bold">Piso</label>
                <select class="form-select" id="pisoHabitacion" name="pisoHabitacion" data-sistema--app-target="selectPisos"  data-action="change->sistema--app#validaBtnGuardarHab">
                  <option value="">Seleccione un piso</option>
                  {% for piso in pisos %}
                    <option value="{{ piso.id }}">{{ piso.name }}</option>
                  {% endfor %}
                  
                </select>
              </div>
              <div class="mb-3">
                <label for="nombreHabitacion" class="form-label fw-bold">Nombre</label>
                <input type="text" class="form-control" id="nombreHabitacion" name="nombreHabitacion" placeholder="Nombre de la Habitación" data-sistema--app-target="nombreHabitacion"  data-action="blur->sistema--app#validaBtnGuardarHab">
              </div>
              <div class="mb-3">
                <label for="numeroCama" class="form-label fw-bold">Número de Camas</label>
                <input type="number" class="form-control" id="numeroCama" name="numeroCama" placeholder="Número de Cama" data-sistema--app-target="numeroCama"  data-action="blur->sistema--app#validaBtnGuardarHab">
              </div>
              <div class="mb-3">
                <label for="tipoHabitacion" class="form-label fw-bold">Tipo</label>
                <select class="form-select" id="tipoHabitacion" name="tipoHabitacion" data-sistema--app-target="selectTipoHabitacion"  data-action="change->sistema--app#validaBtnGuardarHab">
                  <option value="">Seleccione tipo de habitación</option>
                  <option value="1">Habitación sencilla</option>
                  <option value="2">Habitación doble</option>
                  <option value="3">Habitación sencilla con aire acondicionado</option>
                  <option value="4">Habitación doble con aire acondicionado</option>
                  <option value="5">Habitación sencilla ventilador</option>
                  <option value="6">Habitación doble ventilador</option>                  
                </select>
              </div>
              <div class="mb-3 row">
                <div class="col-6">
                  <label for="aireAcondicionado" class="form-label fw-bold">Aire Acondicionado</label>
                  <select class="form-select" id="aireAcondicionado" name="aireAcondicionado" data-sistema--app-target="aireAcondicionado"  data-action="change->sistema--app#validaBtnGuardarHab">
                    <option value="">Seleccione</option>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="ventilador" class="form-label fw-bold">Ventilador</label>
                  <select class="form-select" id="ventilador" name="ventilador" data-sistema--app-target="ventilador"  data-action="change->sistema--app#validaBtnGuardarHab">
                    <option value="">Seleccione</option>
                    <option value="si">Sí</option>
                    <option value="no">No</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-sistema--app-target="btnGuardarHab" data-action="click->sistema--app#guardarHabitacion" disabled>Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
</turbo-frame>