<turbo-frame id="frame-reservas">
  <div class="row justify-content-center">
      <div class="col-md-12">
          <div class="card shadow-sm border-0 rounded-4">
              <div class="card-body">
                  <h5 class="card-title mb-3">Listado de reservas</h5>
                  <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Filtrar reservas..." id="filtroReservas">
                  </div>
                  <div class="table-responsive">
                      <table class="table table-striped table-hover align-middle mb-0">
                          <thead class="table-dark">
                              <tr>
                                  <th>Cliente</th>
                                  <th>Numero documento</th>
                                  <th>Celular</th>
                                  <th>Fecha/hora de llegada</th>
                                  <th>Cant Habitaciones</th>
                                  <th colspan=2 >Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% if bookings is not empty %}
                                {% for booking in bookings %}
                                    <tr>
                                        <td>{{ booking.person.name }} {{ booking.person.lastname }}</td>
                                        <td>{{ booking.person.documentNumber }}</td>
                                        <td>{{ booking.person.cellphone }}</td>
                                        <td>{{ booking.fechallegada|date('Y-m-d') }}/{{ booking.horallegada|date('H:i') }}</td>
                                        <td>{{ booking.canthabitaciones }}</td>
                                        <td style="text-align:center; width: 20px;">
                                            <i class="far fa-window-maximize text-primary" style="cursor:pointer" data-action="click->sistema--app#abrirModalNuevoCliente" data-accion = '2'></i>
                                        </td>
                                        <td style="text-align:center; width: 20px;">
                                            <i class="fas fa-trash-restore-alt text-danger" style="cursor:pointer" data-action="click->sistema--app#eliminarCliente" ></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="text-center text-muted">No hay reservas registradas</td>
                                </tr>
                            {% endif %}
                        
                              
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="mt-3 d-flex justify-content-space-between" style="margin:20px">
                <button type="button" class="btn btn-primary" style="margin-right:10px" data-action="sistema--app#abrirModalNuevaReserva" data-accion = '1' data-id = '0'>Nuevo</button>
                <a href="{{ path('app_inicio') }}" class="btn btn-danger">Regresar</a>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal para registrar reservas -->
  <div class="modal fade" id="modalNuevaReserva" data-turbo="false" data-sistema--app-target="modalNuevaReserva" tabindex="-1" aria-labelledby="modalNuevoClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><span data-sistema--app-target="modalReservaLabel"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form data-sistema--app-target="formNuevaReserva">
          <input type="hidden" name="id" data-sistema--app-target="idReserva" value="0">
           <div class="modal-body">
            <div class="row mb-3">
                <div class="col-md-8">
                    <label for="clienteSelect" class="form-label" style="font-weight: bold;">Cliente</label>
                    <select class="form-control" name="clienteRev" data-sistema--app-target="clienteRev" data-action="change->sistema--app#obtenerDatosClienteReserva change->sistema--app#validaBtnGuardarReserva">
                        <option value="">Seleccione cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}">{{ cliente.documentNumber }} - {{ cliente.name }} {{ cliente.lastname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="cellCienteRev" class="form-label" style="font-weight: bold;">Numero de celular</label> 
                    <input type="text" name="cellCienteRev" class="form-control" id="cellCienteRev" data-sistema--app-target="cellCienteRev" readonly>
                </div>                
            </div>
            <div class="row mb-3">                     
                <div class="col-md-4">
                    <label for="fechaLlegClienteRev" class="form-label" style="font-weight: bold;">Fecha de llegada</label> 
                    <input type="date" name="fechaLlegClienteRev" class="form-control" id="fechaLlegClienteRev" data-sistema--app-target="fechaLlegClienteRev" placeholder="Ingrese el numero de celular" value="{{ "now"|date('Y-m-d') }}" min="{{ "now"|date('Y-m-d') }}" data-action="blur->sistema--app#validaBtnGuardarReserva">
                </div>
                <div class="col-md-4">
                    <label for="horaLlegClienteRev" class="form-label" style="font-weight: bold;">Hora de llegada</label> 
                    <input type="time" name="horaLlegClienteRev" class="form-control" id="horaLlegClienteRev" data-sistema--app-target="horaLlegClienteRev" min="{{ "now"|date('H:i') }}" data-action="blur->sistema--app#validaBtnGuardarReserva">
                </div>
                <div class="col-md-4">
                    <label for="selectAireRev" class="form-label" style="font-weight: bold;">Aire</label>
                    <select class="form-select" id="selectAireRev" name="selectAireRev" data-sistema--app-target="selectAireRev" data-action="change->sistema--app#validaBtnGuardarReserva">
                        <option value="">Seleccione aire</option>
                        <option value="1">Aire acondicionado</option>
                        <option value="2">Ventilador</option>
                        <option value="3">Sin aire</option>
                    </select>
                </div>   
            </div>            
            <div class="row mb-3"> 
                <div class="col-md-4">
                    <label for="cantHabClienteRev" class="form-label" style="font-weight: bold;">Cantidad de habitaciones</label>
                    <input type="text" name="cantHabClienteRev" class="form-control" id="cantHabClienteRev" data-sistema--app-target="cantHabClienteRev" data-action="blur->sistema--app#validaBtnGuardarReserva" >
                </div>              
                <div class="col-md-4">
                    <label for="numeroVehiculoClienteRev" class="form-label" style="font-weight: bold;">Numero de vehiculo</label>
                    <input type="text" name="numeroVehiculoClienteRev" class="form-control" id="numeroVehiculoClienteRev" data-sistema--app-target="numeroVehiculoClienteRev" readonly>
                </div>
                <div class="col-md-4">
                    <label for="companiaClienteRev" class="form-label" style="font-weight: bold;">Compañia</label>
                    <input type="text" name="companiaClienteRev" class="form-control" id="companiaClienteRev" data-sistema--app-target="companiaClienteRev" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="observacionesReserva" class="form-label" style="font-weight: bold;">Observaciones</label> 
                    <textarea id="observacionesReserva" name="observacionesReserva" class="form-control" rows="2" data-sistema--app-target="observacionesRev" placeholder="Ingrese sus observaciones aquí" data-action="blur->sistema--app#validaBtnGuardarReserva"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-sistema--app-target="btnGuardarReserva" data-action="sistema--app#guardarReserva" disabled>Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
      </div>
    </div>
  </div>

</turbo-frame>