<turbo-frame id="frame-reservas">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body">
                    <h5 class="card-title mb-3">Listado de reservas</h5>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Filtrar reservas..." id="filtroReservas">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover align-middle mb-0 table-sm">
                            <thead class="table-dark">
                                <tr>
                                    <th>Reserva</th>
                                    <th>Cliente</th>
                                    <th>Celular</th>
                                    <th>Fecha/hora de llegada</th>
                                    <th>Fecha/hora de Salida</th>
                                    <th>Habitacion</th>
                                    <th colspan=2 >Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if checkins is not empty %}
                                    {% for checkin in checkins %}
                                        <tr>
                                            <td>{{ checkin.reserva.numero }}</td>
                                            <td>{{ checkin.cliente.name }} {{ checkin.cliente.lastname }}</td>
                                            <td>{{ checkin.cliente.cellphone }}</td>
                                            <td>{{ checkin.fechallegada|date('Y-m-d') }}/{{ checkin.horallegada|date('H:i') }}</td>
                                            <td>
                                                {% if checkin.fechasalida is not null  %}
                                                    {{ checkin.fechasalida|date('Y-m-d') }}/{{ checkin.horasalida|date('H:i') }}</td>
                                                {% endif %}
                                            <td>
                                                {% if checkin.habitacion is not null  %}
                                                    {{ checkin.habitacion.name }}
                                                {% endif %}
                                            </td>
                                            <td style="text-align:center; width: 20px;">
                                                {% if checkin.estado == 0 %}
                                                    <i class="fas fa-check-circle text-primary" style="cursor:pointer" data-action="click->sistema--app#abrirModalCheckin" data-id = {{ checkin.id }} ></i>
                                                {% else %}
                                                    <i class="far fa-window-maximize text-primary" style="cursor:pointer" data-action="click->sistema--app#abrirModalCheckOut" data-id = {{ checkin.id }} data-accion = '2'></i>
                                                {% endif %}
                                            </td>
                                            <td style="text-align:center; width: 20px;">
                                                <i class="fas fa-trash-restore-alt text-danger" style="cursor:pointer" data-action="click->sistema--app#eliminarCliente" ></i>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="9" class="text-center text-muted">No hay reservas registradas</td>
                                    </tr>
                                {% endif %}
                            
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-space-between" style="margin:20px">
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right:10px" data-action="sistema--app#abrirModalNuevaReserva" data-accion = '1' data-id = '0'>Nuevo</button>
                    <a href="{{ path('app_inicio') }}" class="btn btn-danger btn-sm">Regresar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para hacer check-in -->
    <div class="modal fade" id="modalCheckin" data-turbo="false" data-sistema--app-target="modalCheckin" tabindex="-1" aria-labelledby="modalCheckinLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <input type="hidden" name="idCheckin" id="numCheckin"  value="1">
                <div class="modal-header">
                    <h5 class="modal-title"><span data-sistema--app-target="modalCheckinLabel">Check-in</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" data-sistema--app-target="modalBodyCheckin">
                    <div id="checkin-1">
                        <form data-sistema--app-target="formCheckin">
                            <input type="hidden" name="idCheckin" id="idCheckin"  value="0">
                            <input type="hidden" name="idHab" id="idHab"  value="0">
                            <input type="hidden" name="productos" id="productos"  value="0">
                            <input type="hidden" name="servicios" id="servicios"  value="0">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label for="${selectId}" class="form-label mb-0" style="font-weight: bold;">Cliente <i class="fas fa-exclamation-circle text-info" title="Crear cliente" style="" data-action="click->sistema--app#abrirModalNuevoCliente" data-accion="1"></i></label>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="tipoClienteCheckin" id="motoristaCheckin-1" value="motorista" checked>
                                                <label class="form-check-label" for="motoristaCheckin-1" style="font-weight: normal;">Motorista</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="tipoClienteCheckin" id="turistaCheckin-1" value="turista">
                                                <label class="form-check-label" for="turistaCheckin-1" style="font-weight: normal;">Turista</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mt-1">
                                        <select id="clienteSelectCustom-1" class="form-control" name="clienteRev" data-sistema--app-target="clienteRev">
                                            <option value="">Seleccione cliente</option>
                                            {% for cliente in clientes %}
                                                <option value="{{ cliente.id }}">{{ cliente.documentNumber }} - {{ cliente.name }} {{ cliente.lastname }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="button" class="btn btn-outline-secondary" tabindex="-1" data-action="click->sistema--app#abrirBusquedaClienteModal" data-index = 1 title="Buscar cliente" style="border: 1px solid #dee2e6;">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>                                    
                                <div class="col-md-2">
                                    <label for="fechaLlegada" class="form-label" style="font-weight: bold;">Fecha llegada</label>
                                    <input type="date" id="fechaLlegada" name="fechaLlegClienteRev" class="form-control" value="" min="">
                                </div>
                                <div class="col-md-2">
                                    <label for="horaLlegada" class="form-label" style="font-weight: bold;">Hora llegada</label>
                                    <input type="time" id="horallegada" name="horaLlegClienteRev" class="form-control" value="" min="">
                                </div>
                                <div class="col-md-2">
                                    <label for="fechaSalida" class="form-label" style="font-weight: bold;">Fecha salida</label>
                                    <input type="date" id="fechaSalida" name="fechaSalidaClienteRev" class="form-control" value="" min="">
                                </div>
                                <div class="col-md-2">
                                    <label for="horaSalida" class="form-label" style="font-weight: bold;">Hora salida</label>
                                    <input type="time" id="horaSalida" name="horaSalidaClienteRev" class="form-control" value="" min="">
                                </div>                                
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm align-middle mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th colspan="2" class="text-nowrap"><i class="fas fa-plus-circle text-success" style="cursor:pointer; font-weight: bold; margin-right:10px" data-action="click->sistema--app#abrirModalServicioCheckin"></i> Servicio</th>
                                                    <th class="text-nowrap">Habitación</th>
                                                    <th class="text-nowrap">Forma de pago</th>
                                                    <th class="text-nowrap">Comprobante</th>
                                                    <th class="text-nowrap">Valor</th>
                                                    <th class="text-nowrap">Valor pagado</th>
                                                </tr>
                                            </thead>
                                            <tbody id="serviciosCheckin-1">
                                                <tr>
                                                    <td colspan=8 style="text-align:center" >No se han registrado servicios</td>
                                                </tr>                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm align-middle mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th colspan="2" class="text-nowrap"><i class="fas fa-cart-plus text-success" style="cursor:pointer; font-weight: bold; margin-right:10px" data-action="click->sistema--app#abrirModalProductosCheckin"></i> Producto</th>
                                                    <th class="text-nowrap">Forma de pago</th>
                                                    <th class="text-nowrap">Cantidad</th>
                                                    <th class="text-nowrap">Valor und</th>
                                                    <th class="text-nowrap">Total</th>
                                                    <th class="text-nowrap">Valor pagado</th>
                                                </tr>
                                            </thead>
                                            <tbody id="productosCheckin-1">
                                                <tr>
                                                    <td colspan=8 style="text-align:center" >No se han registrado productos</td>
                                                </tr>                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="w-100">
                                        <label class="form-label mb-1" style="font-weight: bold;">Elementos entregados</label><br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="checkTodos-1" data-action="sistema--app#marcarElementos" data-index="1"  value="">
                                                    <label class="form-check-label" for="checkToalla">Todos</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkToalla" name="Toalla"  data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkToalla">Toalla</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkControl" name="control" data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkControl">Control</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkAire" name="aire" value="" data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkAire">Aire</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkCobija" name="cobija" value="" data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkCobija">Cobija</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkLlaves" name="llaves" value="" data-action="sistema--app#marcarElemento" data-index="1" checked>
                                                    <label class="form-check-label" for="checkLlaves">Llaves</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="observacionesCheckin" class="form-label" style="font-weight: bold;">Observaciones</label> 
                                    <textarea id="observacionesCheckin" name="observacionesCheckin" class="form-control" rows="2" data-sistema--app-target="observacionesCheckin" placeholder="Ingrese sus observaciones aquí"></textarea>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label" style="font-weight: bold;">Total a pagar</label> 
                                    </br><span id="totalPagar-1" class="text-success" style=" font-size: 26pt; font-weight: bold;">$ 0</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-sistema--app-target="btnGuardarReserva" data-action="sistema--app#hacerCheckin">Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para buscar cliente -->
    <div class="modal fade" id="modalBuscarClienteCheckin" data-turbo="false" data-sistema--app-target="modalBuscarClienteCheckin" tabindex="-1" aria-labelledby="modalCheckinLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content shadow-lg" style="box-shadow: 0 0.5rem 2rem rgba(33, 37, 41, 0.95) !important;">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="inputBuscar" class="form-control" data-action="change->sistema--app#buscarCliente" placeholder="Nombres, Apellidos, Numero...">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para registrar servicios -->
    <div class="modal fade" id="modalNuevoServicioCheckin" data-sistema--app-target="modalNuevoServicioCheckin" tabindex="-1" aria-labelledby="modalNuevoServicioCheckinLabel" aria-hidden="true" style="margin-top:25px !important;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content shadow-lg" style="box-shadow: 0 1.5rem 3.5rem 1rem rgba(33,37,41,0.98) !important;">
                <div class="modal-header">
                    <h5 class="modal-title">Registro de servicios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>            
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="selectServ" class="form-label" style="font-weight: bold;">Servicio</label> 
                            <select class="form-select" id="selectServ" name="selectServ" data-sistema--app-target="selectServ"  data-action="change->sistema--app#cargarServicioCheckin change->sistema--app#validaBtnGuardarServicioCheckin">
                                <option value="">Seleccione servicio</option>    
                                {% for servicio in servicios %}
                                    <option value="{{ servicio.id }}">{{ servicio.name }} {% if servicio.hours is not null %} / {{ servicio.hours }} horas {% endif %} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="selectHabitacionServ" class="form-label" style="font-weight: bold;">Habitación</label> 
                            <select class="form-select" id="selectHabitacionServ" name="selectHabitacionServ" data-sistema--app-target="selectHabitacionServ"  data-action="change->sistema--app#cargarHab change->sistema--app#validaBtnGuardarServicioCheckin ">
                                <option value="">Seleccione habitación</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="tipoDoc" class="form-label" style="font-weight: bold;">Valor</label> 
                            <input type="text" name="numeroDocCliente" class="form-control" data-sistema--app-target="valorServCheckin" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="tipoDoc" class="form-label" style="font-weight: bold;">Valor pagado</label> 
                            <input type="text" name="numeroDocCliente" class="form-control" data-sistema--app-target="valorPagServCheckin" data-action="sistema--app#formatearCampo blur->sistema--app#actualizaSaldoCheckin blur->sistema--app#validaBtnGuardarServicioCheckin">
                        </div>
                        <div class="col-md-4">
                            <label for="tipoDoc" class="form-label" style="font-weight: bold;">Saldo</label> 
                            <input type="text" name="numeroDocCliente" class="form-control" data-sistema--app-target="saldoServCheckin" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">                        
                        <div class="col-md-6">
                            <label for="selectFormaPagoCheckin" class="form-label" style="font-weight: bold;">Forma de pago</label> 
                            <select class="form-select" id="selectFormaPagoCheckin" name="selectFormaPagoCheckin" data-sistema--app-target="selectFormaPagoCheckin"  data-action="change->sistema--app#actualizarComprobante change->sistema--app#validaBtnGuardarServicioCheckin">
                                <option value="">Seleccione forma de pago</option>                     
                                <option value="1">Efectivo</option>                     
                                <option value="2">Bono</option>                     
                                <option value="3">Transaccion</option>                     
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="tipoDoc" class="form-label" style="font-weight: bold;">N° comprobante</label> 
                            <input type="text" name="numeroDocCliente" class="form-control" data-sistema--app-target="comprobanteCheckin" disabled data-action="blur->sistema--app#validaBtnGuardarServicioCheckin">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-sistema--app-target="btnGuardarServicioCheckin" data-action="sistema--app#guardarServicioCheckin" disabled>Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para registrar productos -->
    <div class="modal fade" id="modalNuevoProductoCheckin" data-sistema--app-target="modalNuevoProductoCheckin" tabindex="-1" aria-labelledby="modalNuevoServicioCheckinLabel" aria-hidden="true" style="margin-top:25px !important;">
        <div class="modal-dialog">
            <div class="modal-content shadow-lg" style="box-shadow: 0 1.5rem 3.5rem 1rem rgba(33,37,41,0.98) !important;">
                <div class="modal-header">
                    <h5 class="modal-title">Registro de productos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>            
                <div class="modal-body">
                    <input type="hidden" id="cantProd" value="0" />
                    <input type="hidden" id="valPro" value="0" />
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <label for="selectProductoCheckin" class="form-label" style="font-weight: bold;">Producto</label> 
                            <select class="form-select" id="selectProductoCheckin" name="selectProductoCheckin" data-sistema--app-target="selectProductoCheckin"  data-action="change->sistema--app#cargarProductoCheckin change->sistema--app#validaBtnGuardarProdeuctoCheckin">
                                <option value="">Seleccione producto</option>    
                                {% for producto in productos %}
                                    <option value="{{ producto.id }}">{{ producto.codigo }} - {{ producto.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="valorProductorCheckin" class="form-label" style="font-weight: bold;">Valor</label> 
                            <input type="text" name="valorProductorCheckin" class="form-control" data-sistema--app-target="valorProductorCheckin" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="cantProductoCheckin" class="form-label" style="font-weight: bold;">Cantidad</label> 
                            <input type="text" name="cantProductoCheckin" class="form-control" data-sistema--app-target="cantProductoCheckin" data-action="sistema--app#formatearCampo blur->sistema--app#calculaValorProductos blur->sistema--app#validaBtnGuardarProdeuctoCheckin">
                        </div>
                        <div class="col-md-4">
                            <label for="valorPagoProductoCheckin" class="form-label" style="font-weight: bold;">Valor pagado</label> 
                            <input type="text" name="valorPagoProductoCheckin" class="form-control" data-sistema--app-target="valorPagoProductoCheckin" data-action="sistema--app#formatearCampo blur->sistema--app#actualizaSaldoProdCheckin blur->sistema--app#validaBtnGuardarProdeuctoCheckin">
                        </div>
                        <div class="col-md-4">
                            <label for="saldoProductoCheckin" class="form-label" style="font-weight: bold;">Saldo</label> 
                            <input type="text" name="saldoProductoCheckin" class="form-control" data-sistema--app-target="saldoProductoCheckin" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">                        
                        <div class="col-md-8">
                            <label for="selectFormaPagoProductoCheckin" class="form-label" style="font-weight: bold;">Forma de pago</label> 
                            <select class="form-select" id="selectFormaPagoProductoCheckin" name="selectFormaPagoProductoCheckin" data-sistema--app-target="selectFormaPagoProductoCheckin"  data-action="change->sistema--app#actualizarComprobanteProducto change->sistema--app#validaBtnGuardarProdeuctoCheckin">
                                <option value="">Seleccione forma de pago</option>                     
                                <option value="1">Efectivo</option>                     
                                <option value="2">Bono</option>                     
                                <option value="3">Transaccion</option>                     
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="comprobanteProductoCheckin" class="form-label" style="font-weight: bold;">N° comprobante</label> 
                            <input type="text" name="comprobanteProductoCheckin" class="form-control" data-sistema--app-target="comprobanteProductoCheckin" disabled data-action="blur->sistema--app#validaBtnGuardarProdeuctoCheckin">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-sistema--app-target="btnGuardarProductoCheckin" data-action="sistema--app#guardarProductosCheckin" disabled>Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para hacer check-out -->
    <div class="modal fade" id="modalCheckout" data-turbo="false" data-sistema--app-target="modalCheckout" tabindex="-1" aria-labelledby="modalCheckoutLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <input type="hidden" name="idCheckout" id="idCheckout"  value="0">
                <div class="modal-header">
                    <h5 class="modal-title">Check-out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="checkin-1">
                        <form data-sistema--app-target="formCheckin">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label class="form-label mb-0" style="font-weight: bold;">Cliente</i></label>
                                        <div class="d-flex justify-content-end align-items-center">                                            
                                            <label class="form-check-label" for="tipoClienteOut" id="tipoClienteOut" style="font-weight: normal;"></label>                                            
                                        </div>
                                    </div>
                                    <div class="input-group mt-1">
                                        <input class="form-control" id="clienteCheckout" type="text" value="" disabled >
                                    </div>
                                </div>                                    
                                <div class="col-md-2">
                                    <label for="fechaLlegada" class="form-label" style="font-weight: bold;">Fecha llegada</label>
                                    <input type="date" class="form-control" id="fechaLlegadaOut" value="" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label for="horaLlegada" class="form-label" style="font-weight: bold;">Hora llegada</label>
                                    <input type="time" class="form-control" id="horaLlegadaOut" value="" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label for="fechaSalida" class="form-label" style="font-weight: bold;">Fecha salida</label>
                                    <input type="date" id="fechaSalidaOut" name="fechaSalidaClienteRev" class="form-control" value="" min="">
                                </div>
                                <div class="col-md-2">
                                    <label for="horaSalida" class="form-label" style="font-weight: bold;">Hora salida</label>
                                    <input type="time" id="horaSalidaOut" name="horaSalidaClienteRev" class="form-control" value="" min="">
                                </div>                                
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm align-middle mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="text-nowrap">Servicio</th>
                                                    <th class="text-nowrap">Habitación</th>
                                                    <th class="text-nowrap">Forma de pago</th>
                                                    <th class="text-nowrap">Comprobante</th>
                                                    <th class="text-nowrap">Valor</th>
                                                    <th class="text-nowrap">Valor pagado</th>
                                                    <th class="text-nowrap">Saldo</th>
                                                </tr>
                                            </thead>
                                            <tbody id="serviciosCheckout">
                                                                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm align-middle mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="text-nowrap">Producto</th>
                                                    <th class="text-nowrap">Forma de pago</th>
                                                    <th class="text-nowrap">Cantidad</th>
                                                    <th class="text-nowrap">Valor und</th>
                                                    <th class="text-nowrap">Total</th>
                                                    <th class="text-nowrap">Valor pagado</th>
                                                    <th class="text-nowrap">Saldo</th>
                                                </tr>
                                            </thead>
                                            <tbody id="productosCheckout">                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="w-100">
                                        <label class="form-label mb-1" style="font-weight: bold;">Elementos entregados</label><br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="checkTodosOut" data-action="sistema--app#marcarElementos" data-index="1"  value="">
                                                    <label class="form-check-label" for="checkToalla">Todos</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkToallaOut" name="Toalla"  data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkToalla">Toalla</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkControlOut" name="control" data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkControl">Control</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkAireOut" name="aire" value="" data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkAire">Aire</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkCobijaOut" name="cobija" value="" data-action="sistema--app#marcarElemento" data-index="1">
                                                    <label class="form-check-label" for="checkCobija">Cobija</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input check-1" type="checkbox" id="checkLlavesOut" name="llaves" value="" data-action="sistema--app#marcarElemento" data-index="1" checked>
                                                    <label class="form-check-label" for="checkLlaves">Llaves</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="observacionesCheckin" class="form-label" style="font-weight: bold;">Observaciones</label> 
                                    <textarea id="observacionesCheckOut" name="observacionesCheckOut" class="form-control" rows="2" readonly></textarea>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label" style="font-weight: bold;">Saldo a pagar</label> 
                                    </br><span id="totalPagar-1" class="text-success" style=" font-size: 26pt; font-weight: bold;">$ 0</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-sistema--app-target="btnGuardarReserva" data-action="sistema--app#hacerCheckin">Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</turbo-frame>